.wrapper {
  width: 1100px;
  margin: 0 auto;
  background: linear-gradient(#e66465, #9198e5);
  border-radius: 40px;
}

h1 {
  color: white;
  margin-bottom: 20px;
  &:hover {
    color: #9198e5;
  }
}

.content {
  margin-top: 40px;
  padding-top: 60px;
  text-align: center;
  height: 400px;
}

.input {
  width: 250px;
  height: 2em;

  border: 2px solid #e1e5ee;
  border-radius: 0.7rem;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  padding: 6px;
  &:hover {
    border-color: #9198e5;
  }
}

.select {
  width: 60px;
  height: 3em;
  background: #9198e5;
  overflow: hidden;
  border-radius: 0.25em;
  cursor: pointer;
  &:hover {
    border-color: #e1e5ee;
  }
}
